<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.skums.hamyarhefz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/hamyar_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hamyar_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fab_Bottom_app_bar">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".soalat.EbEnJ4Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ9Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ10Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ11Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ12Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ13Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ14Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ15Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbEnJ30Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ1Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ2Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ3Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ5Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ6Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ7Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ8Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ16Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ17Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ18Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ19Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ20Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ21Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ22Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ23Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ24Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ25Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ26Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ27Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ28Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EbJ29Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ1Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ2Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ3Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ5Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ6Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ7Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ8Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ16Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ17Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ18Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ19Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ20Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ21Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ22Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ23Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ24Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ25Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ26Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ27Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ28Activity"
            android:exported="false"/>
        <activity android:name=".soalat.EnJ29Activity"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ1"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ2"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ3"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ4"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ5"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ6"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ7"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ8"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ9"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ10"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ11"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ12"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ13"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ14"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ15"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ16"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ17"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ18"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ19"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ20"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ21"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ22"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ23"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ24"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ25"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ26"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ27"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ28"
            android:exported="false"/>
        <activity android:name=".Soal2ActivityJ29"
            android:exported="false"/>
        <activity android:name=".Soal1ActivityJ30"
            android:exported="false"/>

        <activity
            android:name=".ShowNoteActivity"
            android:exported="false" />
        <activity
            android:name=".EbadatActivity"
            android:exported="false" />
        <activity
            android:name=".AmalNikActivity"
            android:exported="false" />
        <activity
            android:name=".TozihatAmalActivity"
            android:exported="false" />
        <activity
            android:name=".AmalBadActivity"
            android:exported="false" />
        <activity
            android:name=".AkhlaghBAdActivity"
            android:exported="false" />
        <activity
            android:name=".TasbihatActivity"
            android:exported="false" />
        <activity
            android:name=".AyamHafte1Activity"
            android:exported="false" />
        <activity
            android:name=".Salavat1Activity"
            android:exported="false" />
        <activity
            android:name=".SoalJavabActivity"
            android:exported="false" />
        <activity
            android:name=".NoteDetailActivity"
            android:exported="false" />


        <activity
            android:name=".AyatActivity"
            android:exported="false" />
        <activity
            android:name=".AyatActivity1"
            android:exported="false" />
        <activity
            android:name=".AyatActivity2"
            android:exported="false" />
        <activity
            android:name=".AyatActivity3"
            android:exported="false" />
        <activity
            android:name=".AyatActivity4"
            android:exported="false" />
        <activity
            android:name=".AyatActivity5"
            android:exported="false" />
        <activity
            android:name=".AyatActivity6"
            android:exported="false" />
        <activity
            android:name=".AyatActivity7"
            android:exported="false" />
        <activity
            android:name=".AyatActivity8"
            android:exported="false" />
        <activity
            android:name=".AyatActivity9"
            android:exported="false" />
        <activity
            android:name=".AyatActivity10"
            android:exported="false" />
        <activity
            android:name=".AyatActivity11"
            android:exported="false" />
        <activity
            android:name=".AyatActivity12"
            android:exported="false" />
        <activity
            android:name=".AyatActivity13"
            android:exported="false" />
        <activity
            android:name=".AyatActivity14"
            android:exported="false" />
        <activity
            android:name=".AyatActivity15"
            android:exported="false" />
        <activity
            android:name=".AyatActivity16"
            android:exported="false" />
        <activity
            android:name=".AyatActivity17"
            android:exported="false" />
        <activity
            android:name=".AyatActivity18"
            android:exported="false" />
        <activity
            android:name=".AyatActivity19"
            android:exported="false" />
        <activity
            android:name=".AyatActivity20"
            android:exported="false" />
        <activity
            android:name=".AyatActivity21"
            android:exported="false" />
        <activity
            android:name=".AyatActivity22"
            android:exported="false" />
        <activity
            android:name=".AyatActivity23"
            android:exported="false" />
        <activity
            android:name=".AyatActivity24"
            android:exported="false" />
        <activity
            android:name=".AyatActivity25"
            android:exported="false" />
        <activity
            android:name=".AyatActivity26"
            android:exported="false" />
        <activity
            android:name=".AyatActivity27"
            android:exported="false" />
        <activity
            android:name=".AyatActivity28"
            android:exported="false" />
        <activity
            android:name=".AyatActivity29"
            android:exported="false" />
        <activity
            android:name=".ManabeActivity"
            android:exported="false" />
        <activity
            android:name=".UsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".JozActivity"
            android:exported="false" />
        <activity
            android:name=".AmalActivity"
            android:exported="false" />
        <activity
            android:name=".ZekrActivity"
            android:exported="false" />
        <activity
            android:name=".RahnamaActivity"
            android:exported="false" />

    </application>

</manifest>